* {
  box-sizing: border-box;
}

body {
  font-family: 'Geneva', sans-serif;
}

header {
  display: inline-block;
  padding: 8px;
}

h1 {
  margin-left: 10px;
  float:left;
}

header form {
  margin: 20px 0 0 15px;
  float: left;
}

button {
  height: 35px;
  padding: 5px;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
}

select {
  height: 35px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.container {
  max-width: 600px;
  min-width: 280px;
  height: fit-content;
  margin: 100px auto;
  background-color: #eee;
  border: solid 4px #999;
  border-radius: 10px;
}

.bookmark-panel {
  margin-bottom: 20px;
}

.bookmark-list-items {
  clear: left;
  width: 95%;
  min-width: 200px;
  height: fit-content;
  margin: 8px auto;
  background-color: white;
  border: solid 2px #999;
  border-radius: 10px;
}

.list-title, .list-link, .star-rating{
  padding: 8px;
}

.list-title {

}

.list-link {

}

.star-rating {

}

.create-bookmark-view {
  clear: left;
  width: 95%;
  min-width: 200px;
  height: fit-content;
  margin: 8px auto;
  background-color: white;
  border: solid 2px #999;
  border-radius: 10px;
}

.create-bookmark-view h2,
.create-bookmark-view p,
.add-bookmark-title, 
.add-bookmark-link, 
.add-bookmark-desc,
.rate-radio-button,
.add-button-submit,
#add-star-rating {
  margin: 8px;
}

.add-bookmark-desc {
  height: 100px;
}
